<div class="w-100 mx-0 d-flex flex-row px-0">
    <aside class="bg-light p-4 d-flex flex-column">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Waluta: {{ curencyDataService.getCurrency() }}
        </button>
        <ul class="dropdown-menu menu-z w-100">
          <li (click)="selectCurrency('PLN')"><a class="dropdown-item">PLN</a></li>
          <li (click)="selectCurrency('USD')"><a class="dropdown-item">USD</a></li>
          <li (click)="selectCurrency('EUR')"><a class="dropdown-item">EUR</a></li>
        </ul>
      </div>
      <app-filter class="sticky-top" [tripMaxPrice]="getTripsMaxPrice()" [tripMinPrice]="getTripsMinPrice()" [uniqueCountries]="uniqueCountries" (filter)="applyFilter($event)"></app-filter>
    </aside>
    <main class="w-100 flex-grow-1">
      <div class="d-flex flex-row justify-content-end sticky-top">
        <div [ngClass]="reservedTripDataService.howManyReserved() >= 10 ? 'bg-primary' : 'bg-danger'" class="badge text-wrap fs-6 my-2">
          Liczba zarezerwowanych miejsc: {{ reservedTripDataService.howManyReserved()  }}
        </div>
        <div [ngClass]="reservedTripDataService.howManyReserved()  >= 10 ? 'bg-primary' : 'bg-danger'" class="badge text-wrap fs-6 my-2 mx-1">
          Łączna kwota rezerwacji: {{ reservedTripDataService.reservedTripsSumValue() | currency:curencyDataService.getCurrency():'symbol-narrow' }}
        </div>
      </div>
      <h1 class="text-center mt-5" *ngIf="(trips | selectedCountries:selectedCountries:maxPriceSelected:startDateSelected:endDateSelected:ratingSelected:(curencyDataService.getCurrency())).length === 0">Nie znaleziono wycieczek spełniających wymagania</h1>
      <div *ngFor="let trip of (trips | selectedCountries:selectedCountries:maxPriceSelected:startDateSelected:endDateSelected:ratingSelected:(curencyDataService.getCurrency()))" class="mb-4">
        <app-trip [maxPrice]="tripMaxPrice" [minPrice]="tripMinPrice" [trip]="trip" (deleteCurrentTrip)="deleteTrip($event)"></app-trip>
      </div>
    </main>
  </div>