<div class="w-100 d-flex flex-column align-items-center mt-5">
    <h1 *ngIf="reservedTripsDataService.howManyReserved() <= 0">Koszyk jest pusty</h1>
    <h1 *ngIf="reservedTripsDataService.howManyReserved() > 0">Wybrane wycieczki:</h1>

    <div class="form-check w-100 flex-grow-1 p-4 border-top d-flex justify-content-center align-items-center" *ngFor="let trip of (allTrips | reservedTrips:this.reservedTripsDataService.getReservedTrips())">
        <input (change)="modifyReservationsSelected(trip.id)" class="form-check-input big-checkbox" type="checkbox" value={{trip.id}} id={{trip.id}} checked>
        <label class="w-75 form-check-label" for={{trip.id}}>
            <app-trip class="w-50" [isInBasket]="true" [trip]="trip"></app-trip>
        </label>

        <div class="d-flex flex-column align-self-end justify-content-end">
            <p class="align-self-end fw-bold">Liczba miejsc: {{ reservedTripsDataService.getReservedTrips().get(trip.id) }}</p>
            <p class="align-self-end fw-bold">Łączna cena: {{ reservedTripsDataService.reservedTripSumValue(trip.id) | currency:curencyDataService.getCurrency():'symbol-narrow'}}</p>
        </div>
    </div>

    <div class="w-100 d-flex justify-content-between px-5 border-top py-4 mt-5" *ngIf="reservedTripsDataService.howManyReserved() > 0">
         <p class="fw-bold">Sumaryczna cena wybranych wycieczek: {{ reservedTripsDataService.selectedtTripsSumValue(checkedTripsId) | currency:curencyDataService.getCurrency():'symbol-narrow' }}</p>
         <button class="btn btn-primary" (click)="buyTrips()">Kup wybrane wycieczki</button>
    </div>
</div>