<div class="d-flex vh-100 m-0">
    <div class="d-flex flex-column w-75 background m-0 custom-padding">
        <h1 class="m-5 display-4 fw-bold"><strong>Zanurz się w przygodzie! </strong></h1>
        <p class="display-6 mx-5">Wybierz nasze biuro podróży i zrób pierwszy krok w stronę niezapomnianych chwil!</p>
        <button routerLink="/trips" class="btn btn-light w-50 m-5 p-4"><p class="fw-bold text-center m-0">Sprawdź naszą ofertę</p></button>
    </div>
    <div class="d-flex flex-column pt-5 w-25 bg-light m-0 px-4">
        <h3 class="fw-bold">Dane kontaktowe:</h3>
        
        <h4 class="mt-3 mb-0 fw-bold">Telefon:</h4>
        <p class="m-0">123 456 789</p>

        <h4 class="mt-3 mb-0 fw-bold">E-mail:</h4>
        <p class="m-0">testmail<span>&#64;</span>mail.com</p>

        <h4 class="mt-3 mb-0 fw-bold">Adres:</h4>
        <p class="m-0">ul. Wesoła 12, 00-001 Warszawa</p>

        <h4 class="mt-3 mb-0 fw-bold">Godziny otwarcia:</h4>
        <p class="m-0 mb-3">Poniedziałek - Piątek: 8:00 - 16:00</p>

        <iframe width="280" height="280" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=ul.%20weso%C5%82a%2012%20Warszawa+()&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=3acb02285c47868f8b3be83debdbf4b581d83c91'></script>

    </div>
</div>