.background{
    background-image: url('https://static.vecteezy.com/system/resources/previews/029/276/539/non_2x/blue-suitcase-with-sunglasses-on-a-pastel-blue-background-travel-concept-generative-ai-free-photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.custom-padding{
    padding-right: 50%;
}